services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "5173:5173"
  backend:
    build: 
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "3000:3000"
  postgres:
    environment:
      POSTGRES_PASSWORD: "testpassword"
    build: 
      context: ./database
      dockerfile: dockerfile